* {
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.5;
}
input{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif; 
}
input::placeholder{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    color: var(--grey_color); 
}
.button{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    padding: 12px 16px;
    line-height: 1.5;
    background-color: transparent;
    border: 0 solid transparent;
    cursor: pointer;
}
.btn__maine{
    color: var(--white_color);
    background-color: var(--maine_color);
}
.btn__transp{
    color: var(--maine_color);
    border: solid 1px var(--maine_color);
}
.btn__clr{
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    cursor: pointer;
    color: var(--grey_color);
}
.container{
    max-width: 1190px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}
/* --------------------HEADER ----------------*/
header{
    margin-bottom: 80px;
    position: sticky;
    top: 0;
    background-color: var(--white_color);
    z-index: 10;
    /* margin-right: 100px;
    margin-left: 100px; */
}
.container__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 20px;
}
.container__logo{
    font-size: 36px;
    color: var(--maine_color);
}
/* --------------HERO ---------------------*/
.hero{
    margin-bottom: 48px;
}
.hero__container{
    max-width: 778px;
}
/* -----------------------SEARCH ---------------*/
.search{
    margin-bottom: 48px;
}
.form__input__wraper{
    position: relative;
}
.form__heder{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
    padding-left: 48px;
}
.form__pic{
    position: absolute;
    top: 16px;
    left: 20px;
}

/* ---------BUTTONS PANEL------------ */
.buttons__panel{
    margin-bottom: 48px;
}
.buttons{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.button__item{
    background-color: transparent;
    border-width: 1px;  
    border-left: 0;
    border-right: 0;
    padding: 32px;
    flex: 1;
    font-size: 16px;
    border-color: var(--grey_color); 
    border-style: solid; 
}
.button__item__active{
    border-color: var(--black_color);
}
/* ----------MARKET------------- */
.market{
    padding-left: 80px;
    padding-right: 80px;
}
.market__img-wrap{
    position: relative;
}
.market__item__lable{
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 20px;
    font-size: 20px;
    background-color: var(--red_color);
    color: var(--white_color);
    text-transform: uppercase;
}
.market__item__img{
    height: 300px;
    width: 300px;
}
/* --------------LOAD MORE----------------- */
.load_btn{
    padding-top: 48px;
}
.loader{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* -----------------FOOTER------------- */
footer{
    margin-top: 80px;
    background-color: #121212;
}
.footer__h1{
    font-size: 60px;
    padding-bottom: 32px;
    padding-top: 56px;
}
.footer__info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white_color);
    margin-top: 56px;  
}
.footer__media{
    border-top: 1px solid var(--white_color);
    width: 1192px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content:left;
}
.footer__botom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--maine_color);
    padding: 80px 56px;
}
.footer__icons{
    display: flex;
    padding-top: 32px;
    gap: 24px;
}