/* ---------------CONTEINER---------- */
.conteiner{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    /* background-color: brown; */
}

body{
    font-size: 16px;
    color: black;
    line-height: 1.3;
    font-family: 'Roboto', sans-serif;
}

/* ---------------HERO---------------- */
.hero{
    padding: 80px 0 140px;
    background-color: #EEEFF1;
    /* background-color: aqua; */
    /* height: 70vh; */
    /* max-height: 700px; */
    min-height: 100vh;
    height: 100%;
}

.hero__content{
    margin-bottom: 65px;
}

.hero__container{
    display: flex;
    flex-direction: column;
}

/* .hero__wraper{
display: flex;
flex-wrap: wrap;
} */

.menu__wrap ul{
    display: flex;
    flex-wrap: wrap;
}

.advanteges__wrap ul{
    display: flex;
    flex-wrap: wrap;
}




h1+p{
    color: #727272;
    margin-top: 60px;
    max-width: 540px;
}

h2+p{
    color: #727272;
    max-width: 540px;
    text-align: center;
    margin: 50px auto 0;
}

h1{
    font-size: 48px;
    font-weight: 500;
}

h2{
    font-size: 32px;
    font-weight: 500;    
}

h3{
    font-size: 21px;
    font-weight: 500;
}

nav a{
    color: black;
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 64px;
    list-style: none;
    text-transform: uppercase;
}

button{
    padding: 24px 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
}

button.primary{
    background-color: #34547A;
    color: white;
}

button.primary:hover{
    background-color: rgb(89, 123, 191);
    color: black;
}
/* ----------------------------------- */

/* ---------------ABOUT---------------- */
.about{
    background-color: #f9f9f9;
    padding: 100px 0;
}

.about__conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* ----------------------------------- */

/* ---------------ADVANTEGES---------- */
.advanteges{
    background-color: #34547A;
    padding: 100px 0;
}
.advanteges__list{
display: flex;
align-items: flex-start;
justify-content: space-between;
}

.advanteges__item{
display: flex;
gap: 20px;
color: white;
}

.advanteges__icon{
   height: 50px;
   width: 50px; 
}
/* ----------------------------------- */

/* ---------------WORKS--------------- */
.works{
    background-color: #f9f9f9;
    padding: 100px 0;  
}

.work__conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.works__video{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.video__img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* ------------------------------------ */

/* ---------------FOOTER--------------- */
.footer{
    background-color: #34547A;
    padding: 50px 0;
    color: white;
    /* height: 250px;  */
}

.footer__copy{
    font-size: 13px;
}

.footer__autor{
    margin-bottom: 20px;
}
/* ------------------------------------ */

.video__img{
    width: 1110px; 
    height: 600px;
}


/* --------------POINTS---------------- */
/* ---------------375 px--------------- */
@media (max-width: 375px) {

h1, h2, h3, p, nav  {
    padding-left: 8px;
    padding-right: 8px;
}

h1{
    font-size: 32px;
    font-weight: 400;
    margin-top: 60px;
    
}

h1+p{
    margin-top: 60px;

}

h2{
    font-size: 24px;
    font-weight: 500;    
}

h3{
    font-size: 18px;
    font-weight: 500;
}

p{
    font-size: 12px;
}

nav ul{
    gap: 8px;
    font-size: 10px;
}


.conteiner{
    max-width: 375px;
    width: 100%;
}

body{
    font-size: 14px;

}

.hero{
    padding: 40px 0 100px;
    background-color: #EEEFF1;
    /* background-color: aqua; */
    /* height: 70vh; */
    /* max-height: 700px; */
    min-height: 50vh;
    height: 100%;
}

/* -------------------------- */

.video__img{
    width: 200px; 
    height: auto;
}

.video__img__2{
    width: 40px; 
    height: auto;
}

/* -------------------------- */

.advanteges{
padding: 20px 8px;
padding-left: 0px;
padding-right: 0px;

/* display: flex;
flex-wrap: wrap; */
}

.advanteges__item{
gap: 8px;
}

.advanteges__item h3{
    font-size: 10px;
    padding-left: 0;
    padding-right: 0;
}

.advanteges__item p{
    font-size: 8px;
    padding-left: 0;
    padding-right: 0;
}

.advanteges__icon{
   height: 14px;
   width: 14px; 
}

.advanteges__list{
    padding-left: 8px;
    padding-right: 8px;
}


/* ---------------------------------------- */

.footer{
    padding: 16px 0;
}

.footer h3{
    font-size: 14px;
}

.footer p{
    font-size: 12px;
}

/* ------------------------------------ */

button{
    padding: 12px 20px;
    font-size: 10px;
    margin-left: 8px;
}


}

/* ------------------------------------ */