$width-max: 1110px;
$width-min: 375px;

$black_col: black;
$white_col: white;
$hover_col: rgb(89, 123, 191);
$grey_col: #727272;
$back_col_1: #EEEFF1;
$back_col_2: #f9f9f9;
$blue_col: #34547A;

$F-size_mikro: 10px;
$F-size_min: 13px;
$f-size_normal: 16px;
$F-size_L: 21px;
$F-size_XL: 32px;
$F-size_XXL: 48px;

$F-weight_ST: 500;

$gap_XL: 64px;
$gap_l: 20px;
$gap_m: 8px;

$pad-100: 100px;
$pad-50: 50px;
$pad-min: 8px; 
$pad-0: 0px;